ul.burly {
  list-style: circle;
  padding-left: 40px;
}

.burly-nav li {
  margin: 10px;
}

.burly-nav p {
  margin: 10px;
  line-height: normal;
}

.burly-nav a:link {
    color:darkblue;
    font-weight: bold;
}

.burly-nav a:visited {
  color:blueviolet;
  font-weight: bold;
}

body {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;   /* Centers vertically */
  min-height: 100vh;     /* Ensures the body takes at least the full viewport height */
  margin: 0;             /* Removes default body margin */
  background-color: lightslategrey; /* Optional: for visibility */
}

#container {
  /* Add your desired width and height for the container */
  /* e.g., width: 300px; height: 200px; */
  background-color: #fbfbfb; /* Optional: for visibility */
}

header {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  color: #F3F3F3;
  justify-content: center;
  align-items: center;
  background-color: #4276B6;
  content: "Spacious residential living in South Squirrel Hill";
}

header h1 {
  font-style: italic; /* just a test to see if we can target h1 inside header like this */
}

breadcrumbs {
  background-color: gold;
}

nav.breadcrumbs {
  background-color: aqua;
}

#albums {
  /* display: flex; */
  justify-content: center; /* Centers horizontally */
  align-items: center;   /* Centers vertically */
}

div.date { /* don't show date */
 display: none;
}
