/* Your custom styles goes here */
.burlyprop {
  color: orange;
}

ul.burly {
  list-style: circle;
  padding-left: 40px;
}

.burly-nav li {
  margin-top: 10px;
}

.burly-nav a:link {
    color:darkblue;
    font-weight: bold;
}

.burly-nav a:visited {
  color:blueviolet;
  font-weight: bold;
}
